:root {
    --moradoF: #533D8B;
    --moradoM: #873286;
    --moradoB: #bb6dd3;
    --naranjaF: #FB4C1F;
    --naranjaB: #FE793D;
    --neutro: #000000;
    --gris: #d0cdd3;
}
body {
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    height: 4.3em;
}
div {
    display: flex;
    align-items: center;
}
a {
    text-decoration: none;
    color: inherit; /* para heredar el color del texto padre */
}
.fondo {
    background-color: var(--gris);
}
.fondo img {
    width: 2.5em; /* Define el ancho deseado */
    height: 2.5em; /* Define la altura deseada */
    /* Puedes ajustar estos valores según el tamaño que necesites */
}
.fondo .top img.logo-grande {
    width: 4em; /* Define el ancho deseado */
    height: 4em; /* Mantener la proporción original */
    /* Puedes ajustar estos valores según el tamaño que necesites */
}
.busqueda-principal img{
    padding-right: .5em;
}
.busqueda-principal input[type="text"]{
    margin-right: 1em;
    border: .1em solid var(--gris); /* Borde del campo de texto */
    border-radius: .5em; /* Esquinas redondeadas del campo de texto */
    padding: .7em 1em; /* Espaciado interno del botón de búsqueda */
    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    font-size: .9em;
}
.titulo {
    font-family: 'Noto Serif', serif;
    font-size: 3em;
    font-weight: 500;
    color: var(--neutro);
}
.titulo2{
    padding-left: .5em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 100;
    color: var(--neutro);
}
.cuerpoH{
    padding-left: .1em;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    font-weight:bold;
}
.nav-bg{
    background-color: var(--moradoB);
}
.navegacion-principal {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.navegacion-principal a {
    color: #000000;
    text-decoration: none;
    padding: 0.7em;
}
.navegacion-principal a:hover {
    background-color: var(--moradoF);
    color: #ffffff;
}
.piepag{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    color:#ffffff;
    background-color: var(--neutro);
    padding-bottom: 5%;
    padding-top: 3%;
}
.piebloque1{
    display: flexbox;
    padding-top: 1%;
}
.piebloque1 img{
    width: 3em;
    height: 3em;
    padding-top: 5%;
}
.styled-list {
    position: relative;
    padding-left: 5%; /* Espacio para el marcador */
}
.styled-list::before {
    content: '\2016'; /* Código del punto de lista (puede variar) */
    position: absolute;
    left: 0;
    color: var(--naranjaF); /* Color del marcador */
    font-weight: bold; /* Opcional: Puedes ajustar el peso de la fuente */
    margin-top: 0; /* Opcional: Ajusta el espacio si es necesario */
}
.boton-asistencia {
    position: fixed;
    bottom: 3%; /* Ajusta la distancia desde la parte inferior */
    right: 2%; /* Ajusta la distancia desde la derecha */
    /* Puedes ajustar el tamaño si es necesario */
}
.boton-asistencia img {
    width: 5em; /* Ajusta el ancho de la imagen */
    height: 5em; /* Mantiene la proporción */
    border-radius: 50%; /* Para hacerla redonda si es necesario */
}
/* Estilos para la imagen de "Mi cuenta" */
.imagen-cuenta {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
/* Efecto al pasar el cursor sobre la imagen */
.imagen-cuenta:hover {
    transform: scale(1.3); /* Ampliar la imagen al 110% del tamaño original */
    box-shadow: none; /* Agregar sombra alrededor */
}