:root {
    --moradoF: #533D8B;
    --moradoM: #873286;
    --moradoB: #bb6dd3;
    --naranjaF: #FB4C1F;
    --naranjaB: #FE793D;
    --neutro: #000000;
    --gris: #d0cdd3;
}

body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    height: 4.3em;
}

div {
    display: flex;
    align-items: center;
}
a {
    text-decoration: none;
    color: inherit; /* para heredar el color del texto padre */
}
.fondo {
    background-color: var(--gris);
}
.fondo img {
    width: 2.5em; /* Define el ancho deseado */
    height: 2.5em; /* Define la altura deseada */
    /* Puedes ajustar estos valores según el tamaño que necesites */
}
.fondo .top img.logo-grande {
    width: 4em; /* Define el ancho deseado */
    height: 4em; /* Mantener la proporción original */
    /* Puedes ajustar estos valores según el tamaño que necesites */
}
.busqueda-principal img{
    padding-right: .5em;
}
.busqueda-principal input[type="text"]{
    margin-right: 1em;
    border: .1em solid var(--gris); /* Borde del campo de texto */
    border-radius: .5em; /* Esquinas redondeadas del campo de texto */
    padding: .7em 1em; /* Espaciado interno del botón de búsqueda */
    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    font-size: .9em;
}
.busqueda-secundaria {
    padding: 1em;
    display: flex;
    justify-content: center;
    padding: 2%;
}
.busqueda-secundaria input[type="text"] {
    border: .1em solid var(--gris); /* Borde del campo de texto */
    border-radius: .5em; /* Esquinas redondeadas del campo de texto */
    padding: 1em 30em; /* Espaciado interno del botón de búsqueda */
    width: 70%; /* Reducir el ancho del campo de búsqueda */
    padding: 1.3em; /* Ajustar el padding para evitar el corte del texto */
    /* Otros estilos */
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    
}

.busqueda-secundaria input[type="submit"] {
    background-color: var(--moradoM); /* Color de fondo del botón de búsqueda */
    color: #fff; /* Color del texto del botón de búsqueda */
    padding: 1em 1em; /* Espaciado interno del botón de búsqueda */
    margin-left: 1em; /* Margen izquierdo para separar el botón del campo de texto */
    border:none;
    border-radius: .8em;
    cursor:pointer;
    font-family: 'Noto Serif', serif;
    font-weight: 500;
}
.titulo {
    font-family: 'Noto Serif', serif;
    font-size: 3em;
    font-weight: 500;
    color: var(--neutro);
}
.titulo2{
    padding-left: .5em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 100;
    color: var(--neutro);
}
.cuerpo{
    padding-left: .1em;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    font-weight:bold;
}
.nav-bg{
    background-color: var(--moradoB);
}
.navegacion-principal {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.navegacion-principal a {
    color: #000000;
    text-decoration: none;
    padding: 0.7em;
}
.navegacion-principal a:hover {
    background-color: var(--moradoF);
    color: #ffffff;
}
.botones{
    display: flex;
    justify-content: space-evenly;
}
.boton1 img{
    width: 22em;
    height: 14em;
    border-radius: .8em;

}
.etiqueta1{
    position: absolute;
    top: 14.5em; /* Ajusta la posición vertical */
    left: 9em; /* Ajusta la posición horizontal */
    color: rgb(0, 0, 0); /* Color del texto de la etiqueta */
    font-family: 'Noto Serif', serif;
    font-size: 1.4em;
    font-weight: 700;
}
.boton2 img{
    width: 23em;
    height: 14em;
    border-radius: .8em;
}
.etiqueta2{
    position: absolute;
    top: 14.5em; /* Ajusta la posición vertical */
    left: 30.5em; /* Ajusta la posición horizontal */
    color: rgb(0, 0, 0); /* Color del texto de la etiqueta */
    font-family: 'Noto Serif', serif;
    font-size: 1.4em;
    font-weight: 700;
}
.boton3 img{
    width: 23em;
    height: 14em;
    border-radius: .8em;
}
.etiqueta3{
    position: absolute;
    top: 14.5em; /* Ajusta la posición vertical */
    left: 50.5em; /* Ajusta la posición horizontal */
    color: rgb(0, 0, 0); /* Color del texto de la etiqueta */
    font-family: 'Noto Serif', serif;
    font-size: 1.4em;
    font-weight: 700;
}
.anuncio img{
    width: 100%;
    height: 20em; /* Esto mantiene la proporción original de la imagen */
    display: block;
    padding-top: 5%;
    padding-left: 4%;
    padding-right: 4%;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    text-align: center;
}
.amplio{
    background-color: var(--gris);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}
.imagen-opacidad{
    opacity: 0.6; /* Reducir la intensidad al 50% (puedes ajustar este valor según sea necesario) */
}
.articulos {
    display: flex;
    justify-content: space-evenly;
}
.articulos img {
    margin-top: 3em;
    width: 12em;
    height: 12em;
    padding: .5em;
    border-radius: .8em;
    border: 1px solid black;
    
}
.descripciones {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding-left: .9em;
}
.descripciones section {
    display: inline-flex; /* Cambio a inline-flex */
}
.descripciones img {
    margin-top: 0; /* Reducción del margen superior */
    width: 2.3em;
    height: 2.3em;
    padding: 0.5em;
    padding-left: 1.5em;
}
.piepag{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    color:#ffffff;
    background-color: var(--neutro);
    padding-bottom: 5%;
    padding-top: 3%;
}
.piebloque1{
    display: flexbox;
    padding-top: 1%;
}
.piebloque1 img{
    width: 3em;
    height: 3em;
    padding-top: 5%;
}
.styled-list {
    position: relative;
    padding-left: 5%; /* Espacio para el marcador */
}
.styled-list::before {
    content: '\2016'; /* Código del punto de lista (puede variar) */
    position: absolute;
    left: 0;
    color: var(--naranjaF); /* Color del marcador */
    font-weight: bold; /* Opcional: Puedes ajustar el peso de la fuente */
    margin-top: 0; /* Opcional: Ajusta el espacio si es necesario */
}
.pad p{
    margin-left: 5%;
}
.boton-asistencia {
    position: fixed;
    bottom: 3%; /* Ajusta la distancia desde la parte inferior */
    right: 2%; /* Ajusta la distancia desde la derecha */
    /* Puedes ajustar el tamaño si es necesario */
}
.boton-asistencia img {
    width: 5em; /* Ajusta el ancho de la imagen */
    height: 5em; /* Mantiene la proporción */
    border-radius: 50%; /* Para hacerla redonda si es necesario */
}
  .styled-select {
    display: inline-block;
    position: relative;
}
.styled-select select {
    display:flex;
    justify-content: space-between;
    padding: 1em 2em;
    font-size: 15px;
    font-weight:900;
    color: var(--neutro);
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: var(--moradoB);
    cursor:pointer;
    
}
.styled-select select:focus {
    outline: none;
    
}
/* Estilo para las opciones al pasar el cursor */
.styled-select select option:hover {
    background-color: var(--moradoB); /* Color de fondo al pasar el cursor */
    color: #ffffff; /* Color del texto al pasar el cursor */
    font-weight:900;
}
.ingresar{
    background-color: var(--moradoM); /* Color de fondo del botón de búsqueda */
    color: #fff; /* Color del texto del botón de búsqueda */
    padding: .7em 2em; /* Espaciado interno del botón de búsqueda */
    margin-left: 1em; /* Margen izquierdo para separar el botón del campo de texto */
    margin-right: 2em;
    border:none;
    border-radius: .5em;
    cursor:pointer;
    font-family: 'Noto Serif', serif;
    font-weight: 500;
}
/* Estilos para la imagen de "Mi cuenta" */
.imagen-cuenta {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
/* Efecto al pasar el cursor sobre la imagen */
.imagen-cuenta:hover {
    transform: scale(1.3); /* Ampliar la imagen al 110% del tamaño original */
    box-shadow: none; /* Agregar sombra alrededor */
}
.info_artesano div {
    display: block; /* Establecer como bloque para que los elementos se muestren verticalmente */
    margin-left: 3em;
}
.info_artesano div p {
    display: block; /* Mostrar cada párrafo en una línea separada */
    margin: 1em 0; /* Ajustar el margen vertical entre los párrafos según sea necesario */
    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    font-size: 1.1em;
}
.info_artesano div h2 {
    display: block; /* Mostrar cada párrafo en una línea separada */
    margin: 1em 0; /* Ajustar el margen vertical entre los párrafos según sea necesario */
    margin-top: 2em;
    margin-bottom: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
}
.info_artesano img {
    border-radius: 50%; /* Hacer la imagen circular */
    width: 15em; /* Ajustar el tamaño según sea necesario */
    height: 15em; /* Ajustar el tamaño según sea necesario */
    object-fit: cover; /* Mantener la relación de aspecto */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 3em;
    margin-left: 15em;
}
.modificar {
    background-color: white; /* Fondo blanco */
    color: var(--moradoM); /* Color del texto */
    padding: .8em 1em; /* Espaciado interno */
    margin-left: 75%;
    border: 2px solid var(--moradoM); /* Borde morado */
    border-radius: .8em;
    cursor: pointer;
    font-family: 'Noto Serif', serif;
    font-weight: 500;
    transition: background-color 0.3s ease; /* Transición para el cambio de color */
}
.modificar:hover {
    background-color: var(--moradoM); /* Cambio de fondo al pasar el cursor */
    color: white; /* Cambio de color de texto al pasar el cursor */
}
.dist {
    display: flex;
    justify-content: space-between; /* Distribuirá el espacio entre los elementos */
    margin-top: 2em;
    margin-right: 6em; /* 3em si es alineado con las imagenes*/
    margin-left: 6em;
}
.dist a {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

